<h2 mat-dialog-title>Transacción rechazada</h2>
<h3 mat-dialog-title>Mensaje: <strong style="color: red;">{{data}}</strong></h3>
<p><span class="material-icons">sentiment_very_dissatisfied</span></p>

<!-- <mat-dialog-content>
	<p>{{data}}</p>
</mat-dialog-content> -->

<!-- <mat-dialog-actions class="mb-0" align="right">
	<button mat-raised-button (click)="dialogRef.close()" color="primary">Cancelar</button>
	<button mat-raised-button (click)="yes(data)"  color="accent">Aceptar</button>
</mat-dialog-actions> -->