// @use '../../../../assets/scss/_table_general.scss';

/* Tarjeta styles moved from inline CSS */
.tarjeta .delantera {
    width: 100%;
    background: url('../../../../assets/images/card/bg-tarjeta/bg-tarjeta-02.jpg');
    background-size: cover;
}

.trasera {
    background: url('../../../../assets/images/card/bg-tarjeta/bg-tarjeta-02.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.dash-title {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0px;
}

hr {
  height: 0.5px;
  background-color: #f3f3f4;
}

.class_aprobed {
  background-color: #c0f48f;
  color: rgba(0, 0, 0, .87);
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin: 0 12px 0 0;
  border-radius: 5px;
  font-size: 13px;
  width: 100px;
}

.class_anul {
  background-color: #acc3f6;
  color: rgba(0, 0, 0, .87);
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin: 0 12px 0 0;
  border-radius: 5px;
  font-size: 13px;
  width: 100px;
}

.class_reject {
  background-color: #f25567;
  color: rgba(0, 0, 0, .87);
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin: 0 12px 0 0;
  border-radius: 5px;
  font-size: 13px;
  width: 100px;
}

.class_label {
  margin-bottom: 0px;
  margin-top: 5px;
}

input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 5px;
}
