.sidebar-area {
    z-index: 99;
}

.side-cart-head {
    text-align: center;
    background: #454956;
    padding: 2rem;
}

img {
    border-radius: 20%;
}

.data-ubication {
    margin-bottom: 0px;
}

.options-ubi {
    width: 35px;
    height: 35px;
}

.color-black-font {
    color: black
}

.color-red-font {
    color: red
}