<mat-sidenav-container>
    <mat-sidenav class="em-sidebar" #binnacleSidenav [(opened)]="embryoService.binnacleSidenavOpen" position="end" mode="over">
        <embryo-BinnacleSideBar></embryo-BinnacleSideBar>
    </mat-sidenav>
</mat-sidenav-container>
<mat-card>
    <b> Administra las compras que te han realizado </b>
    <div fxLayout="row wrap" class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <mat-list>
                <ng-container *ngIf="invoiceList && invoiceList.length>0; else elseBlock">
                    <div class="buttonIn">
                        <input class="inputsearch" (keyup)="applyFilter($event.target.value)" placeholder="Buscar" autocomplete="off" type="search">
                    </div>
                    <div fxLayout="column">
                        <mat-card>
                            <div class="table-responsive-x mt-2">
                                <table mat-table [dataSource]="dataSource" class="w-100 table-scroll-wrap">

                                    <ng-container matColumnDef="action">
                                        <th class="px-3 text-nowrap table-left" mat-header-cell *matHeaderCellDef>Ver detalles</th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element;let i = index;">
                                            <!-- <button mat-icon-button (click)="onSeeDialog(element)" color="primary">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button> -->
                                            <button mat-icon-button [routerLink]="['/account/invoice_adm/detail',element.id]" color="primary">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button>

                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action2">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Mensaje</th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element;let i = index;">
                                            <button class="chat-btn" mat-raised-button matBadge="{{element.getBinnacleFalse}}" [matBadgeHidden]="hidden || element.getBinnacleFalse == '0'" (click)="getBinnacles(element)">
                                                <i class="material-icons">chat</i>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="reference_invoice">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Referencia inv
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.reference_invoice}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="created_at">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.created_at | date:'dd/MM/yyyy HH:mm'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name_state">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Estado </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            <div class="status-badge" 
                                                 [ngClass]="{
                                                     'status-approved': element.name_state?.toLowerCase().includes('aprobado'),
                                                     'status-validation': element.name_state?.toLowerCase().includes('validacion'),
                                                     'status-cancelled': element.name_state?.toLowerCase().includes('cancelado') || element.name_state?.toLowerCase().includes('rechazado') || element.name_state?.toLowerCase().includes('declinado')
                                                 }"
                                                 align="center">
                                                {{element.name_state}}
                                            </div>
                                        </td>
                                    </ng-container>


                                    <ng-container matColumnDef="number_identifier">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Identificación
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.number_identifier}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="paymentmethod">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Metodo pago
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.paymentmethod}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="type_service">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Servicio
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.type_service}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="reference">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Referencia trx
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.reference}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="total_price">
                                        <th class="px-3 text-nowrap table-right" mat-header-cell *matHeaderCellDef> Total </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.total_price|currency : 'USD' : 'symbol' : '1.0-0'}}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                            <mat-paginator 
                                #paginator
                                [length]="dataSource.data.length"
                                [pageSize]="15"
                                [pageSizeOptions]="[15, 30, 45, 60]">
                            </mat-paginator>
                        </mat-card>
                    </div>
                </ng-container>
                <ng-template #elseBlock>
                    <div class="no-data-message">
                        <p>No hay facturas</p>
                    </div>
                </ng-template>

            </mat-list>
        </div>
    </div>
</mat-card>
