.material-icons{
    color:white
}


.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #efe01f;    
}

.material-icons[_ngcontent-embryo-seo-pre-c23] {
    color: black;
}

.mat-mini-fab .mat-button-wrapper {
    padding: 0px 0;
    display: inline-block;
    line-height: 24px;
}

.col_icon{
    color: black;
}