<div class="inner-container">
    <div class="final-receipt-page section-gap">
        <div class="account-info">
            <!-- User Info Header -->
            <div class="user-info-header">
                <div class="user-info">
                    <div class="login-user-img"></div>
                    <div class="bienvenida">
                        <b>Hola, {{name}}</b>
                        <p>{{email}}</p>
                    </div>
                </div>
            </div>

            <!-- Horizontal Navigation Menu -->
            <div class="horizontal-nav">
                <div class="nav-container">
                    <a [routerLink]="['/account/profile']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">account_circle</i>
                        <span>Tu información</span>
                    </a>
                    <a [routerLink]="['/account/order-history']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">history</i>
                        <span>Compras</span>
                    </a>
                    <a [routerLink]="['/account/address']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">location_on</i>
                        <span>Ubicaciones</span>
                    </a>
                    <a [routerLink]="['/account/cards']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">credit_card</i>
                        <span>Tarjetas</span>
                    </a>
                    <a *ngIf="show_store_pr" [routerLink]="['/account/store_adm']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">account_balance</i>
                        <span>Tu tienda</span>
                    </a>
                    <a *ngIf="show_store_pr" [routerLink]="['/account/product_adm']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">add_shopping_cart</i>
                        <span>Productos</span>
                    </a>
                    <a *ngIf="show_store_pr" [routerLink]="['/account/invoice_adm']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">fact_check</i>
                        <span>Facturas</span>
                        <span class="badge" *ngIf="number_invoice_inprocces > 0">{{number_invoice_inprocces}}</span>
                    </a>
                    <a *ngIf="show_store_pr" [routerLink]="['/account/balance_status']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">paid</i>
                        <span>Saldo</span>
                    </a>
                    <a *ngIf="show_store_pr" [routerLink]="['/account/transfers_view']" routerLinkActive="nav-active" class="nav-item">
                        <i class="material-icons">assignment</i>
                        <span>Transferencias</span>
                    </a>
                </div>
            </div>

            <!-- Content Area -->
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
