<div class="container mt-5" fxFlex.xs="95" fxFlex.sm="95" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80" fxLayoutAlign="center center">
    <div class="overlay" *ngIf="show_spinner">
        <div class="center_spinner">
            <mat-progress-spinner diameter=70 mode="indeterminate" color="accent">
            </mat-progress-spinner>
        </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
        <mat-card class="register-form cardpage">
            <div align="center">
                <img class="img-info" src="assets/images/sacSwiftlylogo.png">
            </div>
        </mat-card>
    </div>
</div>