<div class="cards-container">
    <div class="cards-header">
        <b>Tarjetas guardadas</b>
        <span class="card-count">{{cards.length}} {{cards.length === 1 ? 'tarjeta' : 'tarjetas'}}</span>
    </div>

    <div class="cards-list">
        <div class="card-item" *ngFor="let card of cards">
            <div class="card-header">
                <div class="card-brand">
                    <i class="material-icons">credit_card</i>
                    <span>{{card.brand}}</span>
                </div>
                <div class="card-type-badge" [ngClass]="{'debit': card.type === 'Débito'}">{{card.type}}</div>
            </div>
            <div class="card-number">{{card.number}}</div>
            <div class="card-actions">
                <button class="edit-card-btn" 
                        mat-raised-button 
                        [routerLink]="['/account/profile/edit']" 
                        [queryParams]="{type:'card'}">
                    <i class="material-icons">edit</i>
                    Editar
                </button>
                <button class="delete-card-btn" 
                        title="Eliminar tarjeta"
                        (click)="deleteCard(card.id)">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>

    <div class="cards-actions">
        <button class="add-card-btn" 
                mat-raised-button 
                [routerLink]="['/account/profile/edit']" 
                [queryParams]="{type:'add-card'}">
            <i class="material-icons">add</i>
            Agregar tarjeta
        </button>
    </div>
</div>
