<div class="inner-container bg-white section-gap-lg">
    <div class="container">
        <div class="response-wrapper" fxLayout='row wrap' fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70">
                <div fxLayout='row wrap' fxLayoutAlign="center center">
                    <mat-card class="register-form form-margin cardclass response-card">
                        <div class="response-content">
                            <h4 class="response-title">Recibimos tu solicitud de afiliación</h4>
                            <p class="response-message">Verifica tu correo electrónico. En un plazo de 3 días hábiles te daremos respuesta sobre la aprobación.</p>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
