<div class="inner-container bg-white section-gap-lg">
    <div class="container">
        <div fxLayout='row wrap' fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70">
                <div fxLayout='row wrap' fxLayoutAlign="center center">
                    <mat-card class="register-form form-margin cardclass">
                        <h4>Recibimos tu solicitud de afiliación verifica tu correo electrónico, en un plazo de 3 dias habiles te daremos respuesta de la aprobación</h4>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>