<div class="flex-row">
    <mat-card class="mat1">
        <div matLine>
            Buscar tiendas por categoria..:
        </div>
        <mat-tree [dataSource]="dataSourceTree" [treeControl]="treeControl" class="example-tree">
            <mat-nested-tree-node *matTreeNodeDef="let node;">
                <li>
                    <div class="mat-tree-node">
                        <button [routerLink]="['/searchstorecategories/',node.id]" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name_category">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <a
                            [routerLink]="['/searchstorecategories/',node.type,node.id_store,node.id]">{{node.name_category}}</a>
                    </div>
                    <!-- <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul> -->
                </li>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-card>

    <mat-card>
        <div class="container">
            <div>
                <mat-toolbar class="style_toolbar">
                    <mat-form-field style="width: 100%" floatLabel="auto">
                        <input matInput [(ngModel)]="searchText" placeholder="Buscar tiendas" autocomplete="off">
                    </mat-form-field>
                </mat-toolbar>
                <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap div_produc">
                    <mat-card class="example-card card_store_prod"
                        *ngFor="let card of obsStore | async">
                        <!-- | filter : searchText | paginate: { itemsPerPage: 8, currentPage: p } temporarily removed -->
                        <mat-card-header>
                            <mat-card-subtitle>
                                <h4>{{card?.name_store }}</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <a class="p-link" *ngIf="!card?.id" [routerLink]="[card?.route_store]">
                                <img width="626" height="800" mat-card-image [src]="card?.logo_store"
                                    [ngClass]="{ transparent: !loaded }" (load)="onLoad()" alt="Photo">
                            </a>
                            <p>
                                {{card?.description }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <mat-paginator [pageSizeOptions]="[8, 8, 25, 100]"></mat-paginator>
            </div>
        </div>
    </mat-card>
</div>