<cdk-virtual-scroll-viewport style="height: 400px;">
   <div class="">
      <div class="">
         <mat-card class="">
            <div id="payment-receipt">               
               <div class="">
                  <table class="tablegeneral">
                     <thead>
                     </thead>
                     <tbody>
                        <tr *ngFor="let prod of data">
                           <td><img src="{{prod.image}}" alt="Avatar"></td>
                           <td>{{prod.name}}</td>
                           <td>{{prod.quantity}}</td>                           
                           <td>{{prod.price | currency:embryoService?.currency}}</td>
                           <td>{{(prod.price * prod.quantity) | currency:embryoService?.currency}}</td>
                        </tr>
                     </tbody>
                     <tr>
                        <td colspan="4" style="padding-top: 15px;"><b>Total</b></td>
                        <td style="width: 50px;padding-top: 15px;">  
                           {{total | currency:embryoService?.currency}}
                        </td>
                    </tr>
                  </table>
               </div>
            </div>
         </mat-card>
      </div>
      <!-- final-receipt -->
   </div>
   <!-- final-receipt-page -->
</cdk-virtual-scroll-viewport>
<!-- invoice-popup -->