.class_aprobed {
    background-color: #c0f48f;
    color: rgba(0,0,0,.87);
    display: inline-block;
    vertical-align: baseline;
    padding: 2px 7px;
    margin: 0 12px 0 0;
    border-radius: 5px;
    font-size: 13px;
}

.class_platform {
    background-color: #acc3f6;
    color: rgba(0,0,0,.87);
    display: inline-block;
    vertical-align: baseline;
    padding: 2px 7px;
    margin: 0 12px 0 0;
    border-radius: 5px;
    font-size: 13px;
}

.class_reject {
    background-color: #f25567;
    color: rgba(0,0,0,.87);
    display: inline-block;
    vertical-align: baseline;
    padding: 2px 7px;
    margin: 0 12px 0 0;
    border-radius: 5px;
    font-size: 13px;
}