<mat-card>
    <b> Verifica las transferencias que has realizado </b>
    <div fxLayout="row wrap" class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <mat-list>
                <ng-container *ngIf="transferList && transferList.length>0; else elseBlock">
                    <div class="buttonIn">
                        <input class="inputsearch" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" autocomplete="off" type="search">
                    </div>
                    <div fxLayout="column">
                        <mat-card>
                            <div class="table-responsive-x mt-2">
                                <table mat-table [dataSource]="dataSource" class="w-100 table-scroll-wrap">

                                    <ng-container matColumnDef="action">
                                        <th class="px-3 text-nowrap table-left" mat-header-cell *matHeaderCellDef><span class="material-icons-outlined">
                                                settings
                                            </span>
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element;let i = index;">
                                            <button mat-icon-button [routerLink]="['/account/transfers_view/view',element.id]" color="primary">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="reference">
                                        <th class="px-3 text-nowrap " mat-header-cell *matHeaderCellDef> Referencia
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.reference}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="created_at">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Fecha
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.created_at | date:'dd/MM/yyyy HH:mm'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="responsible">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Responsable
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.responsible}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="state">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Estado
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            <!-- {{element.state}}  -->
                                            <div *ngIf="element.state_id === 1" class="class_pend" align="center">
                                                {{element.state}}
                                            </div>
                                            <div *ngIf="element.state_id === 2" class="class_aprobe" align="center">
                                                {{element.state}}
                                            </div>
                                            <div *ngIf="element.state_id === 3" class="class_reject" align="center">
                                                {{element.state}}
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="typeaccount">
                                        <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Tipo cuenta
                                        </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.typeaccount}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="val_transfer">
                                        <th class="px-3 text-nowrap table-right" mat-header-cell *matHeaderCellDef> Val Transferencia </th>
                                        <td class="px-3 text-nowrap" mat-cell *matCellDef="let element">
                                            {{element.val_transfer|currency : 'USD' : 'symbol' : '1.0-0'}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                            <mat-paginator 
                                #paginator
                                [length]="dataSource.data.length"
                                [pageSize]="15"
                                [pageSizeOptions]="[15, 30, 45, 60]">
                            </mat-paginator>
                        </mat-card>
                    </div>
                </ng-container>
                <ng-template #elseBlock>
                    <div class="no-data-message">
                        <p>No hay transferencias</p>
                    </div>
                </ng-template>

            </mat-list>
        </div>
    </div>
</mat-card>