<div class="store-edit-container">
    <div class="store-edit-header">
        <div class="header-content">
            <b>Editar Producto</b>
            <span class="create-status">Diligencia el formulario para editar el producto</span>
        </div>
    </div>

    <div class="form-container">
        <div class="form-wrapper">
            <div class="overlay" *ngIf="show">
                <div class="center_spinner">
                    <mat-progress-spinner diameter=70 mode="indeterminate" color="accent">
                    </mat-progress-spinner>
                </div>
            </div>

            <form [formGroup]="productForm" class="store-edit-form">
                <mat-card class="register-form cardpage">
                    <h3 class="titulo"><span>Información del producto</span></h3>

                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label><b>Nombre</b><b class="obligatory"> *</b></label>
                                <input placeholder="Nombre" formControlName="name_product" class="form-control" required
                                    maxlength="100">
                                <mat-error
                                    *ngIf="productForm.get('name_product').hasError('required') && productForm.get('name_product').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div>
                                <label><b>Descripción</b><b class="obligatory"> *</b></label>
                                <input placeholder="Descripción" formControlName="description_product"
                                    class="form-control" required maxlength="100">
                                <mat-error
                                    *ngIf="productForm.get('description_product').hasError('required') && productForm.get('description_product').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label><b>Categoría</b><b class="obligatory"> *</b></label>
                                <ng-select [items]="prod_category$ | async" bindLabel="name_category" autofocus
                                    bindValue="id" [formControl]="categoryFilterCtrl" formControlName="categoryCtrl"
                                    (change)="subcategoriesChangeAction($event)" [(ngModel)]="selectedValueCategory"
                                    placeholder="Seleccionar categoría" required>
                                </ng-select>
                                <mat-error
                                    *ngIf="productForm.get('categoryCtrl').hasError('required') && productForm.get('categoryCtrl').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div>
                                <label><b>Subcategoría</b><b class="obligatory"> *</b></label>
                                <ng-select [items]="sub_catego$ | async" bindLabel="name_subcategory" autofocus
                                    bindValue="id" [formControl]="subcategoryFilterCtrl"
                                    formControlName="subcategoryCtrl" [(ngModel)]="selectedValueSubcategory"
                                    placeholder="Seleccionar subcategoría" required>
                                </ng-select>
                                <mat-error
                                    *ngIf="productForm.get('subcategoryCtrl').hasError('required') && productForm.get('subcategoryCtrl').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label><b>Código (EAN, UPC u otro GTIN)</b><b class="obligatory"> *</b></label>
                                <input placeholder="Código del producto" formControlName="product_code"
                                    class="form-control" required maxlength="100">
                                <mat-error
                                    *ngIf="productForm.get('product_code').hasError('required') && productForm.get('product_code').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div>
                                <label><b>Stock</b><b class="obligatory"> *</b></label>
                                <input placeholder="Stock" formControlName="stock" class="form-control" required
                                    type="number">
                                <mat-error
                                    *ngIf="productForm.get('stock').hasError('required') && productForm.get('stock').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label><b>Marca</b><b class="obligatory"> *</b></label>
                                <input placeholder="Marca" formControlName="brand" class="form-control" required
                                    maxlength="100">
                                <mat-error
                                    *ngIf="productForm.get('brand').hasError('required') && productForm.get('brand').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div>
                                <label><b>Disponible</b><b class="obligatory"> *</b></label>
                                <ng-select formControlName="availa" [(ngModel)]="selectedValueAvailable"
                                    placeholder="Seleccionar disponibilidad" required>
                                    <ng-option [value]="true">Sí</ng-option>
                                    <ng-option [value]="false">No</ng-option>
                                </ng-select>
                                <mat-error
                                    *ngIf="productForm.get('availa').hasError('required') && productForm.get('availa').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label><b>Precio</b><b class="obligatory"> *</b></label>
                                <input placeholder="Precio" formControlName="total_price" class="form-control" required
                                    maxlength="100">
                                <mat-error
                                    *ngIf="productForm.get('total_price').hasError('required') && productForm.get('total_price').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div>
                                <label><b>Descuento</b><b class="obligatory"> *</b></label>
                                <input placeholder="Descuento" formControlName="discount_price" class="form-control"
                                    required maxlength="100">
                                <mat-error
                                    *ngIf="productForm.get('discount_price').hasError('required') && productForm.get('discount_price').touched">
                                    Este campo es obligatorio.
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </mat-card>

                <mat-card class="register-form cardpage">
                    <h3 class="titulo"><span>Imágenes del producto</span></h3>
                    <div class="row">
                        <div class="col-sm">
                            <div class="relative img_up mt-3" align="center">
                                <ngx-dropzone (change)="selectFile($event)" [multiple]="true" [expandable]="true"
                                    [disableClick]="false" [accept]="'image/*'" [maxFileSize]="1000000"
                                    class="dropzone-custom">
                                    <ngx-dropzone-label>
                                        <i class="material-icons">cloud_upload</i>
                                        <p>Arrastra las imágenes del producto aquí!</p>
                                        <small>Formatos: JPG, PNG | Máximo: 1MB</small>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>

                                <div fxLayout="row wrap" fxLayoutAlign="center" class="col-gap div_produc mt-3">
                                    <mat-card class="example-card card_store_prod" *ngFor="let card of get_pr">
                                        <a class="p-link" *ngIf="!card?.id">
                                            <img class="img_size" width="150px" height="150px" mat-card-image
                                                [src]="card?.image" [ngClass]="{ transparent: !loaded }"
                                                alt="Imagen del producto" style="border-radius: 4px;">
                                        </a>
                                        <div class="wishlist-icon">
                                            <a (click)="deleteProduct(card)">
                                                <mat-icon>delete</mat-icon>
                                            </a>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>

                <mat-card class="register-form cardpage">
                    <div class="form-actions">
                        <button class="color_button_ac mobile-register-btn" mat-raised-button
                            (click)="submitProductInfo()" [disabled]="btnDisabled">
                            Actualizar Producto
                        </button>
                    </div>
                </mat-card>
            </form>
        </div>
    </div>
</div>